body {
    font-family: var(--merriweather);
    font-family: 'CooperHewitt-Heavy.otf', sans-serif;
    margin: 0;
    padding-bottom: 4rem; 
    position: relative;
    min-height: 100vh;
}

/* Typography */

@font-face {
    font-family:'CopperHewitt';
    src: url("assignment-two-responsive-assets/CooperHewitt-Heavy.otf") format("opentype");
}

h1 a {
    color: #fff;
    font-size: 2.5rem;
    text-decoration: none;
}

nav ul, nav li{
    list-style-type: none;
}

/* Header*/
header {
    padding: 1rem;
    background: #3a3a3a;
}

.blog-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    width: 2.5rem;
    text-align: center;
    border: none;
    background: none;
}

.menu-icon:hover {
    cursor: pointer;
}

nav {
    position: absolute;
    left: 0;
    background-color: #3a3a3a;
    width: 100vw;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    z-index: 1000;
}

/* Active Nav */
nav.active-nav {
    max-height: 65rem;
}
  
.main-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 1.5rem;
}
  
.main-menu li {
    margin: 0;
    line-height: 4rem;
    white-space: nowrap;
    position: relative;
    width: 100%;
    text-align: right;
}
  
.main-menu li:last-of-type {
    border-bottom: none;
}
  
.main-menu a {
    display: block;
    padding: 0.6rem 1.5rem;
    color: #ffffff;
    background-color: #3a3a3a;
    font-weight: bold;
    text-decoration: none;
}
  
.main-menu a:active {
    border-radius: 0.3rem;
}

.main-menu a:hover {
    text-decoration: underline;
}
  
a.first-link {
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0.6rem 1.5rem;
    width: 100%;
}
  
a.first-link img {
    width: 1rem;
    margin-left: 0.5rem;
}
  
a.first-link img:first-of-type {
    margin-right: 1rem;
}
  
a.first-link img:last-of-type {
    display: none;
}

/* Footer */
.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    background-color: #333;
    color: white;
    padding: 1.25rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.footer .section {
    margin-bottom: 1.25rem;
}

.footer h4 {
    font-size: 1.2rem; 
    margin-bottom: 0.625rem; 
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer li {
    margin: 0.3125rem 0; 
    list-style-type: none;
}

.footer a {
    color: #cbc9c9;
    text-decoration: none; 
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-media {
    display: flex;
    gap: 0.625rem; 
    grid-column: span 2;
}

.footer .social-media a {
    font-size: 1.5rem; 
    color: white;
    text-decoration: none;
}

.footer .social-media img {
    width: 1.5rem; 
    height: 1.5rem; 
}

.footer .social-media img:hover {
    cursor: pointer;
}

main {
    padding-bottom: 4rem; 
}



/* Desktop view */
@media only screen and (min-width: 950px){
    .menu-icon {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    nav {
        display: flex;
        max-height: 100vh;
        overflow: visible;
        position: static;
    }

    nav a.first-link img:last-of-type {
        display: inline;
    }
    
    .main-menu {
        flex-direction: row;
    }
    
    .main-menu li {
        border-bottom: none;
    }
    
    .main-menu li > .dropdown-menu {
        visibility: inherit;
        opacity: 0;
    }
    
    .main-menu li:hover > .dropdown-menu {
        visibility: visible;
        max-height: 100vh;
        opacity: 1;
    }
    
      .main-menu a:hover {
        text-decoration: underline;
    }
    
    .dropdown-menu {
        position: absolute;
        right: 0;
        background-color: #3a3a3a;
        border-radius: 0.3rem;
    }
    
}